{{ attach_library('leaflet_full_page/custom_leaflet') }}

{% set classes = [
    'view',
    'find-your-place'
] %}
<div {{ attributes.addClass(classes) }}>
    <div class="leaflet">
        <div class="leaflet-control-container-parent leaflet-touch">
            <div class="leaflet-top leaflet-left">
                <div class="leaflet-control-resetview leaflet-bar leaflet-control">
                    <a class="leaflet-bar-part leaflet-bar-part-single" title="Reset View" href="#" role="button"><span class="leaflet-control-resetview-icon"></span></a>
                </div>
                <div class="leaflet-control-fullscreen leaflet-bar leaflet-control">
                    <a class="leaflet-control-fullscreen-button leaflet-bar-part" href="#" title="View Fullscreen" style="outline-style: none;"></a>
                </div>
                <select class="leaflet-control-select leaflet-control" name="state" id="state-select">
                    <option value="">Select a State/Territory</option>
                    <option value="01">Alabama</option>
                    <option value="02">Alaska</option>
                    <option value="60">American Samoa</option>
                    <option value="04">Arizona</option>
                    <option value="05">Arkansas</option>
                    <option value="06">California</option>
                    <option value="08">Colorado</option>
                    <option value="09">Connecticut</option>
                    <option value="10">Delaware</option>
                    <option value="11">District of Columbia</option>
                    <option value="12">Florida</option>
                    <option value="13">Georgia</option>
                    <option value="66">Guam</option>
                    <option value="15">Hawaii</option>
                    <option value="16">Idaho</option>
                    <option value="17">Illinois</option>
                    <option value="18">Indiana</option>
                    <option value="19">Iowa</option>
                    <option value="20">Kansas</option>
                    <option value="21">Kentucky</option>
                    <option value="22">Louisiana</option>
                    <option value="23">Maine</option>
                    <option value="24">Maryland</option>
                    <option value="25">Massachusetts</option>
                    <option value="26">Michigan</option>
                    <option value="27">Minnesota</option>
                    <option value="28">Mississippi</option>
                    <option value="29">Missouri</option>
                    <option value="30">Montana</option>
                    <option value="31">Nebraska</option>
                    <option value="32">Nevada</option>
                    <option value="33">New Hampshire</option>
                    <option value="34">New Jersey</option>
                    <option value="35">New Mexico</option>
                    <option value="36">New York</option>
                    <option value="69">Northern Mariana Islands</option>
                    <option value="37">North Carolina</option>
                    <option value="38">North Dakota</option>
                    <option value="39">Ohio</option>
                    <option value="40">Oklahoma</option>
                    <option value="41">Oregon</option>
                    <option value="42">Pennsylvania</option>
                    <option value="72">Puerto Rico</option>
                    <option value="44">Rhode Island</option>
                    <option value="45">South Carolina</option>
                    <option value="46">South Dakota</option>
                    <option value="47">Tennessee</option>
                    <option value="48">Texas</option>
                    <option value="49">Utah</option>
                    <option value="78">U.S. Virgin Islands</option>
                    <option value="50">Vermont</option>
                    <option value="51">Virginia</option>
                    <option value="53">Washington</option>
                    <option value="54">West Virginia</option>
                    <option value="55">Wisconsin</option>
                    <option value="56">Wyoming</option>
                </select>
            </div>
        </div>
        <div class="leaflet__list-container">
            <div class="leaflet__top">
                <a id="button-show">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <div id="search">
                    <div>
                        <input type="text" placeholder="Search">
                    </div>
                </div>
            </div>
            <ul class="leaflet__list" tabindex="0">
                {% for key, item in map_items %}
                    {% if item.contentID != 'findMap' %}
                        <li tabindex="-1" id="{{ item.stateID }}" class="map-item-list" data-location-id="{{ item.stateID }}" data-name="{{ item.title }}">
                            <div class="thumb">
                                {% set img = item.field_listing_image_media_1|raw %}
                                {{ img|replace({'<img': '<img class="image--square"'})|raw }}
                            </div>
                            <div class="info">
                                <h2>{{ item.title|raw }}</h2>
                                <div class="teaser">
                                    {{ item.field_sub_title|replace({'&lt;': '<', '&gt;': '>', '&quot;': '"', '&#039;': "'", '&amp;': '&'})|raw }}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="leaflet__content" maps-nid="">
                <div class="leaflet__content-header">
                    <h2 class="leaflet__content-title"></h2>
                    <a class="arrow arrow-left" tabindex="0" href="/left"></a>
                    <a class="arrow arrow-right" tabindex="0" href="right"></a>
                    <a class="x-button" tabindex="0" href="close"></a>
                </div>
                <h3 class="leaflet__content-sub-title"></h3>
                <div class="leaflet__content-scrollable" tabindex="0">
                    <div class="edan-viewer--wrapper">
                        <div class="edan-iframe-embed__container">
                            <div class="edan-iframe">
                                <iframe class="" id="edan_viewer" title="Images viewer for Edan Object"
                                        src="" width="100%" height="100%" scroll="no"></iframe>
                                </iframe>
                            </div>
                        </div>
                        <div class="edan-viewer__slick-container">
                            <div id="thumbs" class="edan_object_thumbs slider-thumbs slider-nav">
                                <figure class="edan_object_thumbnail thumb-0">
                                    <a href="ark:/65665/m34991c9017a2247e3ad379a2a472790e9" irn="" data-credit="" target="_blank" data="//ids.si.edu/ids/dynamic?id=ark:/65665/m34991c9017a2247e3ad379a2a472790e9" type="Images">
                                        <img src="https://ids.si.edu/ids/deliveryService/id/ark:/65665/m34991c9017a2247e3ad379a2a472790e9/90" alt="">
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="leaflet__content-main" tabindex="0"></div>
                </div>
            </div>
        </div>

        <div class="ovBar">
            <a data-state="02" href="#" class="ov">
                <div class="alaska leaflet-marker-icon state-label-marker leaflet-zoom-animated leaflet-interactive" tabindex="0" role="button">Alaska</div>
                <img src="/modules/custom/leaflet_full_page/images/Alaska.png">
            </a>
            <a data-state="15" href="#" class="ov">
                <div class="hawaii leaflet-marker-icon state-label-marker leaflet-zoom-animated leaflet-interactive" tabindex="0" role="button">Hawaii</div>
                <img src="/modules/custom/leaflet_full_page/images/Hawaii.png">
            </a>
        </div>

        {% if rows %}
            {{ rows }}
        {% endif %}
    </div>
</div>

{#<script type="application/json" >#}
{#    {{ drupal_view('leaflet_full_page', 'semiquincentennial_export') }}#}
{#</script>#}

