{{ attach_library('surface/surface-nav') }}

<nav class="surface-nav{{ modifier ? ' ' ~ modifier }}" id="surface-nav">
  {% if logo_text %}
    <a href="{{ logo_url|default('/') }}" class="surface-nav__logo">{{ logo_text|raw }}</a>
  {% endif %}
  {% if links %}
    <ul class="surface-nav__links">
      {% for item in links %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if back_text %}
    <a href="{{ back_url|default('#') }}" class="surface-nav__back">{{ back_text }}</a>
  {% endif %}
</nav>
