{{ attach_library('surface/side-card') }}

<aside class="side-card{{ modifier ? ' ' ~ modifier }}">
  <div class="side-card__head">
    <span class="side-card__label">{{ label }}</span>
    {% if fig %}
      <span class="side-card__fig">{{ fig }}</span>
    {% endif %}
  </div>

  {% if variant == 'trails' and trails %}
    <ul class="side-card__trails">
      {% for trail in trails %}
        <li class="side-card__trail">
          <span class="side-card__trail-name">{{ trail.name }}</span>
          <em class="side-card__rating side-card__rating--{{ trail.rating }}">
            {{ trail.rating_label|default(trail.rating) }}
          </em>
        </li>
      {% endfor %}
    </ul>

  {% elseif variant == 'poi' and pois %}
    <ul class="side-card__pois">
      {% for poi in pois %}
        <li class="side-card__poi">
          {% if poi.mile %}<span class="side-card__poi-mile">{{ poi.mile }}</span>{% endif %}
          <span class="side-card__poi-info">
            <span class="side-card__poi-name">{{ poi.name }}</span>
            {% if poi.type %}
              <span class="side-card__poi-type">{{ poi.type }}</span>
            {% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>

  {% elseif rows %}
    <div class="side-card__body">
      {% for row in rows %}
        <div class="side-card__row">
          <span class="side-card__row-label">{{ row.label }}</span>
          <span class="side-card__row-value">{{ row.value }}</span>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</aside>
