{#
/**
 * @file
 * Template for details element.
 */
#}
{{ attach_library('surface/details') }}

<details{{ attributes.addClass('details') }}>
  {%- if title -%}
    <summary{{ summary_attributes.addClass('details__summary') }}>
      {{- title -}}
    </summary>
  {%- endif -%}
  <div class="details__wrapper">
    {% if errors %}
      <div class="details__error-message">
        {{ errors }}
      </div>
    {% endif %}
    {%- if description -%}
      <div class="details__description">{{ description }}</div>
    {%- endif -%}
    {%- if children -%}
      {{ children }}
    {%- endif -%}
    {%- if value -%}
      {{ value }}
    {%- endif -%}
  </div>
</details>
