{{ attach_library('base/fonts') }}

<div class="font-specimens">
  {% for font in fonts %}
    <div class="font-specimen">
      <div class="font-specimen__meta">
        <span class="font-specimen__name">{{ font.name }}</span>
        <code class="font-specimen__var">{{ font.var }}</code>
        <span class="font-specimen__usage">{{ font.usage }}</span>
      </div>
      <div class="font-specimen__sample" style="font-family: '{{ font.name }}', {{ font.name == 'Bebas Neue' or font.name == 'DM Mono' ? 'sans-serif' : 'serif' }};">
        A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
        a b c d e f g h i j k l m n o p q r s t u v w x y z
        0 1 2 3 4 5 6 7 8 9
      </div>
    </div>
  {% endfor %}
</div>
